.col0{
	height: 30px;
}
.col1{
}
.gly1{
	color: white;

}
.col2{
	height: 60px;
}
.row1{
	background-color:#FF4500;
}
.row2{
	border: 1px solid green;
	background-color: #C0C0C0;
}
.col3{
}
.img-circle{
	height: 100px; 
	width: 170px;
}
.col4{
	
}
.img-modif{
    border-radius: 50% !important;
}

.h_1{
	font-weight: bold;
	color: white;
	text-align: center;
	margin-left: 500px;
}
.p1{
	color: white;
}
.col5{
}
.img{
	width: 80px;
	height: 80px;
}
.col{
	border: 2px solid gray;
	background-color: white;
	border-radius: 10px;
}
/*   pages categories_themes  */

.cat_th_h2{
	margin-top:25px;
}
.cat_th_span{
	color:#2F4F4F; 
	margin-top:40px;
}
.title_h1_cat{
		margin-left: 0px;
		color: white; 
		font-size:60px;
		display: block;
	}







@media only screen and (max-width: 768px){
	.title_h1_cat{
		margin-left: 30px !important;
	}
	.para_ente_cat{
		margin-left: 30px !important;
		text-align: justify;
	}
	.col5{
		height: auto !important;
		width: auto !important;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px){
	
}