.ff{
	font-weight: bold;
}
#nav_ul{
	background-color: transparent !important;
	border: none !important;
}
#ancre{
	font-weight: bold;
	font-size: 17px;
}

}
.title_h1{
	margin-top: 20px;
	font-weight: bold;
	font-size: 30px;
	margin-left: 50px;
}











/* Responsive  medias query */

/* Petit ecran  (smartphone, android) */

@media only screen and (max-width: 768px){
	#nav_ul{
	display: none !important;
	}
}