.ff{
	font-weight: bold;
}

.cl{
	height: 300px;
	width: 300px;
}
#nav_ul{
	background-color: transparent !important;
	border: none !important;
	float: right;

#ancre{
	font-weight: bold;
	font-size: 17px;
}

#nav_div_1{
	background-color: transparent !important;
}
#nav_div{
	background-color: inherit !important;
	border: none !important;
	float: right;
}
.title_h1{
	margin-top: 20px;
	font-weight: bold;
	/*font-size: 50px;*/
	margin-left: 0px;
	color: #FF4500 !important;
}
.title_h1_cat{
	margin-top: 20px;
	font-weight: bold;
	font-size: 40px;
	margin-left:400px;
	text-align: center;
	color: #FF4500 !important;
}
.menu_profil{
	width: 250px;
	height: 90px;
}
.title{
	font-weight: bold;
	font-size: 40px;
}

.img_profil{
	border-radius: 50%;
	width: 60px;
	height: 60px;
}
.bout_profil{
	margin-top: 100px;
}











/* Responsive  medias query */

/* Petit ecran  (smartphone, android) */
@media only screen and (max-width: 768px){
	.title_h1_cat{
	margin-top: 20px;
	font-weight: bold;
	font-size: 40px;
	margin-left:0px !important;
	text-align: center;
	color: #FF4500 !important;
	}

}
@media only screen and (min-width: 768px) and (max-width: 992px){
	.title_h1_cat{
	margin-top: 20px;
	font-weight: bold;
	font-size: 40px;
	margin-left:-40px !important;
	text-align: center;
	color: #FF4500 !important;
	}
}